@font-face {
    font-family: mono;
    src: url('./font/IBMPlexMono-Regular.ttf');
}

:root {
    --box-width: calc(100% - 100px);
    --result-color: rgb(47, 248, 255);
}

* {
    font-family: mono;
    font-size: 1rem;
}

body {
    background-color: black;
    margin: 0;
}

textarea {
    resize: none;
}

#copy {
    display: none;
}

.pqc-wrap {
    width: 100%;
    word-wrap: wrap;
    display: flex;
    justify-content: center;
}

#pqc {
    color: red;
    width: var(--box-width);
    word-wrap: break-word;
}

#pqc a {
    color: white;
    border-radius: 16px;
    background-color: red;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: linear .2s;
}

#pqc a:active {
    background-color: white;
    color: red;
    box-shadow: red 0 0 20px;
}

#alert,
#alert-pub-key {
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(240, 248, 255, 0.111);
    display: none;
}

#alert-pub-key {
    flex-direction: column;
    justify-content: center;
    color: red;
}

#alert-pub-key .alert-box {
    justify-content: center;
    height: 450px;
}

#alert-pub-key .alert-box .body {
    width: 100%;
}

#alert-pub-key .body div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#alert-pub-key input {
    border-radius: 20px;
    width: 80%;
    height: 50px;
}

#alert-pub-key button {
    padding: 15px;
    margin-bottom: 5px;
}

#start-session {
    margin-top: 35px !important;
}

.appear {
    display: flex !important;
}

.alert-box {
    border-radius: 20px;
    background-color: #000000;
    width: 50%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#alert .head,
#alert .head u,
#alert .body_1,
#alert .body_2 {
    color: white;
    text-shadow: 0px 0px 5px red;
}

#alert .head {
    font-size: 20px;
}

#alert .head u {
    font-size: 22px;
}

#alert .body_1,
#alert .body_2 {
    font-size: 15px;
}

#alert button {
    padding: 10px 40px;
    font-size: 20px;
}

.App {
    height: 100%;
    width: 100%s;
}

.App-header {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 0 30px;
    padding-top: 20px;
}

#clear {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 40px;
    margin: 10px;
    color: red;
    border-color: red;
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

button {
    background-color: black;
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 15px 40px;
    margin: 20px;
    border-radius: 50px;
}

button:active {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#clear:active {
    box-shadow: 0 0 10px red;
}

.box textarea {
    height: 100%;
    width: var(--box-width);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

.pass {
    /* width: 100%; */
    border: red 1px solid;
    box-shadow: red 0 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: linear .3s;
}

.pass p {
    color: white !important;
    width: 50%;
}

.pass-input-box {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#pass {
    width: 100%;
    height: 100%;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}

#result {
    color: var(--result-color);
    border: none;
    outline: none;
    background-color: transparent;
    width: var(--box-width);
    border-width: 2px;
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    padding: 10px;
}

#result::-moz-selection {
    text-shadow: 1px 1px 0px red;
    color: rgb(255, 213, 47);
}

#result::selection {
    text-shadow: 1px 1px 0px red;
    color: rgb(255, 213, 47);
}

#result:focus {
    border: none;
    outline: none;
}

#copy-btn {
    padding: 10px 20px;
    position: absolute;
    right: 20px;
}

.error {
    color: red;
}

.disable {
    color: rgb(174, 174, 174);
    border-color: rgb(174, 174, 174);
    pointer-events: none;
}

.disable:focus {
    color: blue;
}

.disable:active {
    background-color: black;
    color: rgb(174, 174, 174);
}

@media screen and (max-width: 430px) {

    .box textarea,
    #result {
        width: calc(100% - 40px);
    }

    #copy-btn {
        right: 50%;
        margin: 0;
        padding: 10px 40px;
        transform: translateX(50%);
    }

}

@media screen and (max-width: 588px) {
    .pass {
        flex-direction: column;
        margin: 30;
        width: var(--box-width);
    }
    
    .pass p,
    .pass-input-box {
        width: 100%;
    }
    .alert-box {
        width: 80%;
    }

    #clear {
        padding: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 836px) {
    .box .buttons {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        color: white;
        background-color: white;
        box-shadow: 0 0 0 white;
    }

    10% {
        opacity: 1;
        color: white;
        background-color: white;
        box-shadow: 0 0 5em white;
    }

    70% {
        opacity: 1;
        color: white;
        background-color: white;
        box-shadow: 0 0 0 white;
    }

    100% {
        opacity: 1;
        color: var(--result-color);
        background-color: none;
        box-shadow: 0 0 0 white;
    }
}

@keyframes shake {
    0% {
        position: absolute;
        margin-left: .5rem;
    }

    10% {
        margin-left: -0.5rem;
    }

    30% {
        margin-left: .5rem;
    }

    60% {
        margin-left: -0.5rem;
    }

    100% {
        position: relative;
        margin-left: 0;
    }
}


/* Particle JS */
/* ---- reset ---- */
canvas {
    display: block;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.password-visibility {
    position: relative;
    margin: 10px;
}

.password-visibility img{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    color: white;
}

.password-visibility svg {
    position: absolute;
    fill: white;
    width: 50px;
    height: 50px;
    left: -15px;
    top: 5px;
    stroke-width: 0px;
}

.password-visibility-change {
    animation: circle .3s linear;
}

@keyframes circle {
    0% {
        stroke-width: 0px;
    }
    50% {
        stroke-width: 40px;
    }
    100% {
        stroke-width: 1px;
    }
}

